<% if notice %><p id="notice"><%= notice %></p><% end %>

<p>
  <strong><%= t('.title') %></strong>
  <%= @product.title %>
</p>

<p>
  <strong><%= t('.description') %></strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= t('.image_url') %></strong>
  <%= @product.image_url %>
</p>

<p>
  <strong><%= t('.price') %></strong>
  <%= @product.price %>
</p>

<%= link_to t('.edit'), edit_product_path(@product) %> |
<%= link_to t('.back'), products_path %>