<% if notice %><p id="notice"><%= notice %></p><% end %>

<p>
  <strong><%= t('.product') %></strong>
  <%= @line_item.product_id %>
</p>

<p>
  <strong><%= t('.cart') %></strong>
  <%= @line_item.cart_id %>
</p>

<%= link_to t('.edit'), edit_line_item_path(@line_item) %> |
<%= link_to t('.back'), line_items_path %>